<div class="container">
  <div class="panel panel-default login-panel" id="loginDiv">
     <div class="panel-heading text-center">
        <img src="./assets/TimeSlice-Logo-WithText.svg" alt="TimeSlice-logo">
     </div>
     <div class="panel-body">
        <form class='loginForm' #loginForm = "ngForm">
           <div>
              <label>Email Address</label>
           </div>
           <div>
              <input type="email" id="email" class="email"  #email = "ngModel" name="email"  required ngModel >     
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="">   
                 <div *ngIf="email.errors.required"> Email is required. </div> 
              </div>
            </div>
           <div><br/>
              <label>Password</label>
           </div>
           <div>
              <input type="password" id="password" class="password" #password = "ngModel" name="password" required ngModel>
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="">   
                  <div *ngIf="password.errors.required"> Password is required. </div> 
               </div>
           </div>
           <br/>
           <div class="text-center">
              <button type="submit" id='signIn'class="btn btn-primary btn-primary-orange">Sign In</button>
              
           </div>
        </form>
     </div>
  </div>
</div>